<h1>Hello World ReScript</h1>
<%=
react_component(
    "HelloWorldv2", props: @hello_world_props, prerender: false
)
%>
<%= link_to 'go to form page', "formpage" %>

 <%# "HelloWorld", props: @hello_world_props, prerender: false %>